h1 {
    text-align: center;
}

#scans .thumbnail:last-of-type {
    margin-bottom: 0;
}

#scans .panel-body {
    overflow-y: auto;
    max-height: 775px;
}

.factory {
    display: none;
}

.panel-msg {
    margin: 0;
}

.empty {
    display: none;
}

.empty:only-child {
    display: block;
}

#view {
    width: 900px;
    height: 600px;
}